@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Serif+Display:ital@0;1&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #00b5a5;
  overflow-x: hidden;
  font-family: "DM Serif Display";
}

.image_revealsection {
  color: white;
  display: flex;
  flex-direction: column;

  height: 100vh;
  max-width: 1500px;
  margin: 0 auto;
}

.image_revealrow {
  display: flex;
  justify-content: space-between;

  padding: 2rem;
}

.image_revealrow img {
  width: 100%;
  max-width: 300px;
  filter: saturate(0);
}

.image_reveal_text_container {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;

  text-align: center;
  height: auto;
  background: transparent;
  z-index: 8;
}

.text_block {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

.text_block h1 {
  font-size: 5rem;
  text-align: center;
}
.text_block p {
  font-size: 1rem;
  text-align: center;
  margin-top: 10px;
  max-width: 675px;
}
.mask-container {
  width: 100vw;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  -webkit-mask: url("/maskimage.svg") center/contain no-repeat;
  mask: url("/maskimage.svg") center/contain no-repeat;
  -webkit-mask-size: 0%;
  mask-size: 0%;
  will-change: mask-size;

  z-index: 10;
}
.imagereveal_banner {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100vh;
}
.join_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 2rem;
  top: 10%;
  left: 50%;

  transform: translate(-50%, 50%);
}

.join_container .join_button {
  width: 150px;
  font-size: 12px;
  background-color: #00b5a5;
  color: white;
  border: none;
  outline: none;
  padding: 1rem 1rem;
  border-radius: 50px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}

.join_container .join_button

.join_container img {
  width: 300px;
}

@media (max-width: 1024px) {
  .image_revealrow img {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .image_revealrow img {
    width: 35%;
  }
  .image_reveal_text_container {
    top: 25%;
    height: 300px;
    padding: 1rem;
  }
}
@media (max-width: 480px) {
  .image_revealrow img {
    width: 35%;
  }
  .image_reveal_text_container {
    top: 25%;
    height: 300px;
    padding: 1rem;
  }
  .text_block h1 {
    font-size: 3rem;
    text-align: center;
    max-width: 350px;
  }
  .text_block p {
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
    max-width: 350px;
  }
}
